*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.circle{
    /* position: absolute; */
    transition-duration: 1s;
    transition-property: width,height;
}

.circle:hover{
    width: 0px;
    height: 0px;
    
}